$mainCollor:rgb(8, 17, 90);

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
        .topbar .right .hamburger {
            margin-right: 0 !important;
          }
    }
}