@import "../../global.scss";

.testimonials {
  padding: 50px 0;
  margin-top: 200px;
  text-align: center;

  @include mobile {
    justify-content: space-around;
  }

  h1 {
    margin-bottom: 50px;

    @include mobile {
      font-size: 20px;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }
  }
  
  @include mobile {
    font-size: 20px;
  }

  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
    @include mobile {
      margin: 10px 0;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 50%;
      margin-bottom: 20px;

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        @include mobile {
          width: 30px;
          height: 30px;
        }
      }

      .left {
        left: 10px;
      }

      .user {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      .right {
        right: 10px;
      }
    }

    .center {
      width: 250px;
      flex: 1;
      text-align: center;
      font-size: 19px;
      font-weight: 100;
      font-style: italic;
      border-radius: 20px;
      background-color: rgb(208, 231, 239);
      overflow: hidden;

      @include mobile {
        font-size: 16px;
        padding: 5px;
      }
      .desc {
        font-style: normal;
        font-size: 14px;
      }
    }

    .bottom {
      text-align: center;

      h3 {
        font-weight: 500;
        margin-bottom: 5px;

        @include mobile {
          font-size: 16px;
        }
      }


      h4 {
        color: $mainCollor;
        font-weight: 400;
        font-style: italic;
        margin-top: 0;

        @include mobile {
          font-size: 16px;
        }
      }
    }
  }

  .featured {
    border: 2px solid $mainCollor;
  }
}