@import '../../global.scss';

.List {
    font-size: 14px;
    font-weight: 700;
    margin-right: 50px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;

    &.active {
        background-color: $mainCollor;
        color: white;
    }
}