@import "../../global.scss";

.projects {
    margin-top: 600px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aqua;


    h1 {
        font-size: 50px;
        margin-bottom: 600px;
        background-color: white;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;

        @include mobile {
            font-size: 30px;
        }
    }

    .arrow {
        margin-right: 10px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        
        @include mobile {
            display: none;
        }

        &.left {
            left: 100px;
            transform: rotate(180deg);
        }
        &.right {
            right: 100px;
        }
        
    }

    .slider {
        height: 450px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            height: 100vh;
            margin-top: 50px;
            flex-direction: column;
            justify-content: center;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 900px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 90%;
                    height: 180px;
                    margin: 5px 0px;
                }

                .left {
                    flex: 4;
                    margin-left: 40px;
                    margin-right: 40px;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;

                    scroll-behavior: smooth;
                    scroll-snap-type: y mandatory;
                    scrollbar-width: none;
                    
                    @include mobile {
                        width: 150px;
                        margin-left: 5px;
                        margin: 0;
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .leftContainer {
                        width: 95%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile {
                            width: 100%;
                        }

                        .imgContainer {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            background-color: aqua;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile {
                                display: none;
                            }

                            img {
                                width: 40px;
                                margin-bottom: 5px;
                            }
                        }

                        h2 {
                            font-size: 20px;
                            font-weight: 800;

                            @include mobile {
                                font-size: 10px;
                            }
                        }
                        p {
                            font-size: 13px;
                            font-weight: 500;
                            
                            @include mobile {
                                width: 100%;
                                font-size: 8px;
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;

                            @include mobile {
                                font-size: 8px;
                            }
                        }
                    }	
                }

                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .rightContainer {
                        width: 90%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        scroll-behavior: smooth;
                        scroll-snap-type: y mandatory;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                        img {
                            width: 400;
                            transform: rotate(-10deg);
                        }

                    }
                }

            }
        }
    }
}